Options +ExecCGI +FollowSymLinks
AddHandler cgi-script .cgi .html
DirectoryIndex index.cgi
<Files "*.cfg">
  Require all denied
</Files>
<Files "hotspot-detect.html">
  SetHandler cgi-script
</Files>
<Files "generate_204">
  SetHandler cgi-script
</Files>
<Files "connecttest.txt">
  SetHandler cgi-script
</Files>
<Files "redirect">
  SetHandler cgi-script
</Files>
