Options +ExecCGI
AddHandler cgi-script .cgi
DirectoryIndex index.cgi
<FilesMatch "hotspot-detect.html">
  SetHandler cgi-script
</FilesMatch>
<FilesMatch "generate_204">
  SetHandler cgi-script
</FilesMatch>
<FilesMatch "connecttest.txt">
  SetHandler cgi-script
</FilesMatch>
<FilesMatch "redirect">
  SetHandler cgi-script
</FilesMatch>
